@page "/admin"
@using System.Text.Json
@using System.Text

<link href="style/style.css" rel="stylesheet" />

<body>
	<header>
		<table>
			<thead>
				<tr>
					<th><h1>Adminansicht</h1></th>
					<th><p>@Username || @UEFA</p></th>
				</tr>
			</thead>
			<tfoot>
			</tfoot>
			<tbody>
				<tr>
					<td><p>Das ist die Ansicht des Admin-User.</p></td>
					<td rowspan="2"><img src="img/Logo_BHAK10.jpg" alt="Schullogo" class="Bild" /></td>
				</tr>
				<tr>
					<td><p>Herzlich Willkommen bei der Anmeldeseite für die Übungsfirmen!</p></td>
				</tr>
			</tbody>
		</table>
		
	</header>
	<nav>
		<a href="/">Anmelden</a> <br />
		<a href="/basic">SchülerInnen</a>
	</nav>
	<section>
		<article>
			<button id="Anmelden" @onclick="AusgabeA">Anmelden</button>
			<p>@AusgabeAdmin</p>

			<button id="TestAPI" @onclick="TestAPIGET">Testen API DIP GET</button>
			<p>@OutputTestAPIGET</p>
			<button id="TestAPI" @onclick="TestAPIPOST">Testen API DIP POST</button>
			<p>@OutputTestAPIPOST</p>
			<button id="TestAPI" @onclick="TestAPIPUT">Testen API DIP PUT</button>
			<p>@OutputTestAPIPUT</p>
			<button id="TestAPI" @onclick="TestAPIDELETE">Testen API DIP DELETE</button>
			<p>@OutputTestAPIDELETE</p>
		</article>
	</section>
</body>


@code {
	private string Username = "TestAdmin";
	private string UEFA = "Udesigndea";
	private string AusgabeAdmin = "";

	private void AusgabeA()
	{
		AusgabeAdmin = "Der Admin-User "+Username+" von der ÜFA "+UEFA+" hat sich erfolgreich angemeldet.";
	}


	public class DIP
	{

		public int id { get; set; }
		public string? unternehmen { get; set; }
		public Boolean isComplete { get; set; }
		public int anzahl { get; set; }
		public int netto { get; set; }
		public int steuer { get; set; }
		public int brutto { get; set; }

	}

	private string OutputTestAPIGET ="";

	public async void TestAPIGET()
	{
		HttpClient client = new HttpClient();

		HttpResponseMessage GetResponse = await client.GetAsync("https://localhost:7286/api/Einkauf/Bestellung");

		if (GetResponse.IsSuccessStatusCode)
		{
			var responseBody = await GetResponse.Content.ReadAsStringAsync();
			OutputTestAPIGET = responseBody + "\n" + "GET wurde erfolgreich ausgeführt!";
		}
		else
		{
			OutputTestAPIGET = "Error TestAPIGET: " + GetResponse.StatusCode;
		}
	}


	private string OutputTestAPIPOST = "";

	public async void TestAPIPOST()
	{
		HttpClient client = new HttpClient();
		//Problem liegt derweil bei der Id, muss immer die nächste Zahl selber eingeben sonst error; auch irgendwie zahlen funkt nicht so wirklich
		DIP newDIP = new DIP { id = 5, unternehmen = "Nico Schauenstein", isComplete = true, anzahl = 0, netto = 0, steuer = 0, brutto = 0 };

		string jsonData = JsonSerializer.Serialize(newDIP);

		var content = new StringContent(jsonData, Encoding.UTF8, "application/json");

		HttpResponseMessage response = await client.PostAsync("https://localhost:7286/api/Einkauf/Bestellung", content);

		if (response.IsSuccessStatusCode)
		{
			var responseBody = await response.Content.ReadAsStringAsync();
			OutputTestAPIPOST = responseBody + "\n" + "POST wurde erfolgreich ausgeführt!";
		}
		else
		{
			OutputTestAPIPOST = "Error TestAPIPOST: " + response.StatusCode;
		}
	}


	private string OutputTestAPIPUT = "";
	public async void TestAPIPUT()
	{
		HttpClient client = new HttpClient();

		DIP newDIP = new DIP { id = 5, unternehmen = "Nico Schauenstein", isComplete = true, anzahl = 0, netto = 0, steuer = 0, brutto = 0 };

		string jsonData = JsonSerializer.Serialize(newDIP);

		var content = new StringContent(jsonData, Encoding.UTF8, "application/json");

		HttpResponseMessage response = await client.PutAsync("https://localhost:7286/api/Einkauf/Bestellung/5", content);

		if (response.IsSuccessStatusCode)
		{
			var responseBody = await response.Content.ReadAsStringAsync();
			OutputTestAPIPUT = responseBody + "\n" + "PUT wurde erfolgreich ausgeführt!";
		}
		else
		{
			OutputTestAPIPUT = "Error TestAPIPUT: " + response.StatusCode;
		}
	}


	private string OutputTestAPIDELETE = "";

	public async void TestAPIDELETE()
	{
		HttpClient client = new HttpClient();

		DIP newDIP = new DIP { id = 5, unternehmen = "Nico Schauenstein", isComplete = true, anzahl = 0, netto = 0, steuer = 0, brutto = 0 };

		string jsonData = JsonSerializer.Serialize(newDIP);

		var content = new StringContent(jsonData, Encoding.UTF8, "application/json");

		HttpResponseMessage response = await client.DeleteAsync("https://localhost:7286/api/Einkauf/Bestellung/5");

		if (response.IsSuccessStatusCode)
		{
			var responseBody = await response.Content.ReadAsStringAsync();
			OutputTestAPIDELETE = responseBody + "\n" + "DELETE wurde erfolgreich ausgeführt!";
		}
		else
		{
			OutputTestAPIDELETE = "Error TestAPIDELETE: " + response.StatusCode;
		}
	}
}