@page "/RechnungswesenEinkauf"
@using System.Text.Json
@using System.Text
@using System.Net.Http.Headers
@using Microsoft.Extensions.Configuration
@using Diplomarbeit_HHS.Models
@inject IConfiguration Configuration
@inject NavigationManager Navigation
@inject IJSRuntime JS //Schnittstelle zwischen c# und js

<script src="javaScript/script.js"></script>
<link rel="stylesheet" media="(min-width:0px)" href="style/styleMobile.css" />
<link rel="stylesheet" media="(min-width:1000px)" href="style/style.css" />

<body>
	<header>
		<h1 class="HeaderText">Rechnungswesen Einkauf</h1>
	</header>
	<nav>
	</nav>
	<section>
		<article class="AnzeigeDaten">
			<table id ="InhaltOnClick">
				<thead>
					<tr>
						<th class="TableBestellungenID" @onclick="() => SortTable(nameof(RWEK.errId))">
							ID
							@(currentSortColumn == nameof(RWEK.errId)
										? (sortAscending ? "↑" : "↓")
										: string.Empty)
						</th>
						<th class="TableBestellungenUnternehmen" @onclick="() => SortTable(nameof(RWEK.art))">
							art
							@(currentSortColumn == nameof(RWEK.art)
										? (sortAscending ? "↑" : "↓")
										: string.Empty)
						</th>
						<th class="TableBestellungenBestelldatum" @onclick="() => SortTable(nameof(RWEK.rid))">
							rid
							@(currentSortColumn == nameof(RWEK.rid)
										? (sortAscending ? "↑" : "↓")
										: string.Empty)
						</th>
						<th class="TableBestellungenFertig" @onclick="() => SortTable(nameof(RWEK.lid))">
							lid
							@(currentSortColumn == nameof(RWEK.lid)
										? (sortAscending ? "↑" : "↓")
										: string.Empty)
						</th>
						<th class="TableBestellungenAnzahl" @onclick="() => SortTable(nameof(RWEK.brutto))">
							brutto
							@(currentSortColumn == nameof(RWEK.brutto)
										? (sortAscending ? "↑" : "↓")
										: string.Empty)
						</th>
						<th class="TableBestellungenNetto" @onclick="() => SortTable(nameof(RWEK.rechnunginordung))">
							rechnunginordung
							@(currentSortColumn == nameof(RWEK.rechnunginordung)
										? (sortAscending ? "↑" : "↓")
										: string.Empty)
						</th>
						<th class="TableBestellungenSteuer" @onclick="() => SortTable(nameof(RWEK.skonto))">
							skonto
							@(currentSortColumn == nameof(RWEK.skonto)
										? (sortAscending ? "↑" : "↓")
										: string.Empty)
						</th>
						<th class="TableBestellungenBrutto" @onclick="() => SortTable(nameof(RWEK.verbucht))">
							verbucht
							@(currentSortColumn == nameof(RWEK.verbucht)
										? (sortAscending ? "↑" : "↓")
										: string.Empty)
						</th>
						<th class="TableBestellungenBrutto" @onclick="() => SortTable(nameof(RWEK.uiid))">
							uiid
							@(currentSortColumn == nameof(RWEK.uiid)
										? (sortAscending ? "↑" : "↓")
										: string.Empty)
						</th>
					</tr>
				</thead>
				<tfoot>
					<!--<tr>
					<td colspan="8">@OutputGetPostPutDelete</td>
					</tr>-->
				</tfoot>
				<tbody id="TableBody">
					@if (rwek == null)
					{
						<tr>
							<td colspan="8">Es wird nach den Datensätzen gesucht.</td>
						</tr>
					}
					else if (rwek.Count == 0)
					{
						<tr>
							<td colspan="8">Es wurden keine Datensätze gefunden.</td>
						</tr>
					}
					else
					{
						@foreach (var rwek in rwek)
						{
							<tr @onclick="() => GetRWEKById(rwek.errId)" style="cursor: pointer;" class="@GetRowClass(rwek.errId)">
								<td class="TableBestellungenID">@rwek.errId</td>
								<td class="TableBestellungenUnternehmen">@rwek.art</td>
								<td class="TableBestellungenBestelldatum">@rwek.rid</td>
								<td class="TableBestellungenAnzahl">@rwek.lid</td>
								<td class="TableBestellungenNetto">@rwek.brutto</td>
								<td class="TableBestellungenFertig">
									@if (rwek.rechnunginordung)
									{
										<span>✔</span>
									}
								</td>
								<td class="TableBestellungenSteuer">@rwek.skonto</td>
								<td class="TableBestellungenFertig">
									@if (rwek.verbucht)
									{
										<span>✔</span>
									}
								</td>
								<td class="TableBestellungenBrutto">@rwek.uiid</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</article>
		<article class="AnzeigeInput">
			<div class="LinkesDiv">
				<div id="divEins">
					<label class="divEinsBestellung" for="ErrId">ID</label>
					<input type="number" name="ErrId" id="ErrId" @bind="ErrId" min="0" class="divEinsBestellung" />
				</div>

				<div id="DivButtons">
					<button id="GETBestellungen" @onclick="GETRWEK">Anzeigen</button>
					<br>
					<button id="POSTBestellungen" @onclick="POSTRWEK">Erstellen</button>
					<br>
					<button id="PUTBestellungen" @onclick="PUTRWEK">Ändern</button>
					<br>
					<button id="DELETEBestellungen" @onclick="DELETERWEK">Löschen</button>
				</div>
			</div>

			<div class="RechtesDiv">
				<div id="divZwei">
					<label class="divZweiBestellung" for="Art">Art</label>
					<label class="divZweiBestellung" for="Rid">Rid</label>
					<label class="divZweiBestellung" for="Lid">Lid</label>
					<label class="divZweiBestellung" for="Brutto">Brutto</label>

					<input type="text" @bind="Art" name="Art" id="Art" class="divZweiBestellung" />
					<input type="number" @bind="Rid" name="Rid" id="Rid" class="divZweiBestellung" />
					<input type="number" @bind="Lid" name="Lid" id="Lid" class="divZweiBestellung" />
					<input type="number" @bind="Brutto" name="Brutto" id="Brutto" class="divZweiBestellung" />
				</div>

				<div id="divDrei">
					<label class="divDreiBestellung" for="Rechnunginordung">Rechnunginordung</label>
					<label class="divDreiBestellung" for="Skonto">Skonto</label>
					<label class="divDreiBestellung" for="Verbucht">Verbucht</label>
					<label class="divDreiBestellung" for="UUID">UUID</label>

					<input type="checkbox" @bind="Rechnunginordung" name="Rechnunginordung" id="Rechnunginordung" class="divZweiBestellung" />
					<input type="number" @bind="Skonto" name="Skonto" id="Skonto" class="divDreiBestellung" />
					<input type="checkbox" @bind="Verbucht" name="Verbucht" id="Verbucht" class="divZweiBestellung" />
					<input type="number" @bind="Lid" name="UUID" id="UUID" class="divDreiBestellung" />
				</div>
			</div>
		</article>
	</section>
</body>


@code {

	private string NettoSteuerBrutto = "";
	private string OutputResult = "";
	private string OutputGetPostPutDelete = "";

	public class RWEK
	{
		public int errId { get; set; }
		public string? art { get; set; }
		public int rid { get; set; }
		public int lid { get; set; }
		public double brutto { get; set; }
		public Boolean rechnunginordung { get; set; }
		public double skonto { get; set; }
		public Boolean verbucht { get; set; }
		public int uiid { get; set; }
	}

	private int ErrId;
	private string? Art;
	private int Rid;
	private int Lid;
	private double Brutto;
	private Boolean Rechnunginordung;
	private double Skonto;
	private Boolean Verbucht;
	private int Uiid;

	private int lastID;
	private List<Rechnungswesen.RechnungwesenEinkauf> rwek;

	private bool sortAscending = true;
	private string? currentSortColumn;

	private void SortTable(string columnName)
	{
		if (currentSortColumn == columnName)
		{
			sortAscending = !sortAscending; // Toggle sort direction
		}
		else
		{
			currentSortColumn = columnName;
			sortAscending = true;
		}

		if (rwek != null)
		{
			rwek = columnName switch
			{
				nameof(RWEK.errId) => sortAscending
					? rwek.OrderBy(m => m.errId).ToList()
					: rwek.OrderByDescending(m => m.errId).ToList(),
				nameof(RWEK.art) => sortAscending
					? rwek.OrderBy(m => m.art).ToList()
					: rwek.OrderByDescending(m => m.art).ToList(),
				nameof(RWEK.rid) => sortAscending
					? rwek.OrderBy(m => m.rid).ToList()
					: rwek.OrderByDescending(m => m.rid).ToList(),
				nameof(RWEK.lid) => sortAscending
					? rwek.OrderBy(m => m.lid).ToList()
					: rwek.OrderByDescending(m => m.lid).ToList(),
				nameof(RWEK.brutto) => sortAscending
					? rwek.OrderBy(m => m.brutto).ToList()
					: rwek.OrderByDescending(m => m.brutto).ToList(),
				nameof(RWEK.rechnunginordung) => sortAscending
					? rwek.OrderBy(m => m.rechnunginordung).ToList()
					: rwek.OrderByDescending(m => m.rechnunginordung).ToList(),
				nameof(RWEK.skonto) => sortAscending
					? rwek.OrderBy(m => m.skonto).ToList()
					: rwek.OrderByDescending(m => m.skonto).ToList(),
				nameof(RWEK.verbucht) => sortAscending
					? rwek.OrderBy(m => m.verbucht).ToList()
					: rwek.OrderByDescending(m => m.verbucht).ToList(),
				nameof(RWEK.uiid) => sortAscending
					? rwek.OrderBy(m => m.uiid).ToList()
					: rwek.OrderByDescending(m => m.uiid).ToList(),
				_ => rwek
			};
		}
	}


	protected override async Task OnInitializedAsync()
	{
		Rechnungswesen rwek1 = new Rechnungswesen();
		rwek = await rwek1.HoleAlleRWEK();

		HttpClient client = new HttpClient();
		var token = await SecureStorage.GetAsync("authToken");
		client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
		HttpResponseMessage GetResponse = await client.GetAsync($"{URLs.URLRechnungswesenEinkauf}");

		if (GetResponse.IsSuccessStatusCode)
		{
			var responseBody = await GetResponse.Content.ReadAsStringAsync();
			//OutputResult = responseBody;
			OutputGetPostPutDelete = "GETALL wurde erfolgreich ausgeführt!";

			foreach (var rwek in rwek)
			{
				lastID = rwek.errId;
				int newID = lastID + 1;
				ErrId = newID;
			}
		}
		else
		{
			OutputGetPostPutDelete = "Error TestAPIGET: " + GetResponse.StatusCode;
		}
		JS.InvokeVoidAsync("setLastIDInJS", lastID);
	}


	private int? selectedId; // Speichert die ID der ausgewählten Zeile

	private string GetRowClass(int Id)
	{
		// Rückgabe der CSS-Klasse für die aktuelle Zeile
		return selectedId == Id ? "AusgewaehlteReihe" : "";
	}

	private async void GetRWEKById(int IDNumberEingegeben)
	{
		selectedId = ErrId; // Aktualisiert die ausgewählte ID

		Rechnungswesen rwek2 = new Rechnungswesen();
		var rwek = await rwek2.HoleRWEKById(IDNumberEingegeben);
		OutputGetPostPutDelete = Convert.ToString(rwek);

		if (rwek == null)
		{
			OutputGetPostPutDelete = "Ihre werte sind null, da hat was ned funkt";
		}
		else
		{
			ErrId = rwek.errId;
			Art = rwek.art;
			Rid = rwek.rid;
			Lid = rwek.lid;
			Brutto = rwek.brutto;
			Rechnunginordung = rwek.rechnunginordung;
			Skonto = rwek.skonto;
			Verbucht = rwek.verbucht;
			Uiid = rwek.uiid;
		}
	}


	public async Task GETRWEK()
	{
		GetRWEKById(ErrId);
		OutputGetPostPutDelete = "GET wurde erfolgreich ausgeführt!";
	}


	public async Task POSTRWEK()
	{
		Rechnungswesen rwek3 = new Rechnungswesen();
		await rwek3.PostRWEK(ErrId, Art, Rid, Lid, Brutto, Rechnunginordung, Skonto, Verbucht, Uiid);
		await OnInitializedAsync();
		OutputGetPostPutDelete = "POST wurde erfolgreich ausgeführt!";
	}


	public async Task PUTRWEK()
	{
		Rechnungswesen rwek4 = new Rechnungswesen();
		await rwek4.PutRWEK(ErrId, Art, Rid, Lid, Brutto, Rechnunginordung, Skonto, Verbucht, Uiid);
		await OnInitializedAsync();
		OutputGetPostPutDelete = "PUT wurde erfolgreich ausgeführt!";
	}


	public async Task DELETERWEK()
	{
		Rechnungswesen rwek5 = new Rechnungswesen();
		await rwek5.DeleteRWEK(ErrId);
		await OnInitializedAsync();
		OutputGetPostPutDelete = "DELETE wurde erfolgreich ausgeführt!";
	}

}